
/*登录页面样式*/
body,div{ margin:0; padding:0;font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;}

#loginbg{background: url(/image/login/grass.jpg) no-repeat;}
#l-divbg{width: 468px;height: 468px;background: url(/image/login/login_bg.png) no-repeat;margin: 100px auto 0 auto;}
.l-login-div{height: 86px;width: 100%;padding: 0 100px;}
#form-username{background: url(/image/login/user.png) no-repeat;width: 242px;height: 37px;border: 0;padding: 0 0 0 10px;outline: none;}
#form-password{background: url(/image/login/password.png) no-repeat;width: 242px;height: 37px;border: 0;padding: 0 0 0 10px;margin-top: 5px;outline: none;}
.loginbtn{background:url(/image/login/enter.png) no-repeat;border:0;height: 72px;width: 330px;cursor: pointer;font-size: 18px;font-weight: bold;outline: none;letter-spacing: 15px;}
#errormsg{height: 30px;line-height: 30px;width: 100%;color: red;text-align: center;}




/*主页面样式*/
.main-body{padding: 0;margin: 0;min-width: 1280px;min-height: 768px;background:#0a0a1c url(/image/worldbg.png) no-repeat;overflow: auto;}
.header{margin:0 auto;padding-top:26px;color: #fff;width: 1024px;height: 70px;line-height: 50px;}
.header b{float:right;font-size: 16px;cursor: pointer;text-decoration: underline;letter-spacing: 2px;}
.header .userspan{float:right;padding:0 30px;cursor: pointer;font-size: 11px;background: url(/image/user.png) no-repeat;background-position:10px;background-size: 12px;text-decoration: underline;}

.icon-div{float:left;width: 100%;margin: 30px auto 0 auto;color: #fff;font-size: 14px;}
.for-block{float:left;width:33.3%;border-top:1px solid #666a83;text-align: center;}
.for-block img{vertical-align: middle;}
.checknet{float:left;background: url(/image/checknet.png) no-repeat;background-size:170px 170px;width: 170px;height:200px;margin: 50px 130px 0 0;cursor: pointer;}
.info{float:left;background: url(/image/info.png) no-repeat;background-size:170px 170px;width: 170px;height: 200px;margin: 50px 130px 0 0;cursor: pointer;}
.manager{float:left;background: url(/image/manager.png) no-repeat;background-size:170px 170px;width: 170px;height: 200px;margin: 50px 0 0 0;cursor: pointer;}
.stat{float:left;background: url(/image/stat.png) no-repeat;background-size:170px 170px;width: 170px;height: 200px;margin: 50px 130px 0 0;cursor: pointer;}
.report{float:left;background: url(/image/report.png) no-repeat;background-size:170px 170px;width: 170px;height: 200px;margin: 50px 130px 0 0;cursor: pointer;}
.center{float:left;background: url(/image/center.png) no-repeat;background-size:170px 170px;width: 170px;height: 200px;margin: 50px 0 0 0;cursor: pointer;}
.font-descr{float: left;width:100%;text-align: center;margin-top: 180px;}

.entry{width: 170px;height: 40px;line-height:40px;cursor:pointer;border-radius:5px;text-align:center;background-color: #099aff;color: #fff;position: fixed;bottom: 20px;right: 50px;}
.main-bottom{float: left;width: 100%;height:40px;text-align: center;font-size: 13px;color: #7b7b7b;margin-top: 80px;}