<component name="libraryTable">
  <library name="spring">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../../javalib/cmslib/spring/aopalliance.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../javalib/cmslib/spring/aspectjweaver-1.7.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../javalib/cmslib/spring/jstl.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../javalib/cmslib/spring/spring-aop-3.2.14.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../javalib/cmslib/spring/spring-aspects-3.2.14.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../javalib/cmslib/spring/spring-beans-3.2.14.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../javalib/cmslib/spring/spring-context-3.2.14.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../javalib/cmslib/spring/spring-context-support-3.2.14.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../javalib/cmslib/spring/spring-core-3.2.14.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../javalib/cmslib/spring/spring-expression-3.2.14.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../javalib/cmslib/spring/spring-instrument-3.2.14.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../javalib/cmslib/spring/spring-instrument-tomcat-3.2.14.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../javalib/cmslib/spring/spring-jdbc-3.2.14.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../javalib/cmslib/spring/spring-jms-3.2.14.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../javalib/cmslib/spring/spring-orm-3.2.14.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../javalib/cmslib/spring/spring-oxm-3.2.14.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../javalib/cmslib/spring/spring-struts-3.2.14.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../javalib/cmslib/spring/spring-test-3.2.14.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../javalib/cmslib/spring/spring-tx-3.2.14.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../javalib/cmslib/spring/spring-web-3.2.14.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../javalib/cmslib/spring/spring-webmvc-3.2.14.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../javalib/cmslib/spring/spring-webmvc-portlet-3.2.14.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../javalib/cmslib/spring/standard.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>